.furn {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    z-index: 1000;
    transition: width 0.15s !important;
    will-change: width left top;
}

.furn.nonAnimatedWidth {
    transition: none !important;
}

.furn:before {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: "";
    display: block;
    transition: none !important;
}

.furn:hover {
    z-index: 2222;
}

.furn.r270:before {
    transform: scaleX(-1);
}

.furn.r180:before {
    transform: scaleY(-1);
}

.furn.bed {
    width: 40px;
}

.furn.bed:before {
    padding-top: 126%;
    background-image: url("../img/planing/bed_1.svg");
}

.furn.bed.rotate:before {
    padding-top: 80%;
    background-image: url("../img/planing/90/bed_1.svg");
}

.furn.sofa {
    width: 58px;
}

.furn.sofa:before {
    padding-top: 45%;
    background-image: url("../img/planing/sofa_1.svg");
}

.furn.sofa.rotate:before {
    padding-top: 222%;
    background-image: url("../img/planing/90/sofa_1.svg");
}

.furn.chair {
    width: 26px;
}

.furn.chair:before {
    padding-top: 90%;
    background-image: url("../img/planing/chair_1_1.svg");
}

.furn.chair.rotate:before {
    padding-top: 110%;
    background-image: url("../img/planing/90/chair_1_1.svg");
}

.furn.sofa_2 {
    width: 58px;
}

.furn.sofa_2:before {
    padding-top: 75%;
    background-image: url("../img/planing/sofa_1_1.svg");
}

.furn.sofa_2.rotate:before {
    padding-top: 134%;
    background-image: url("../img/planing/90/sofa_1_1.svg");
}

.furn.sofa_3 {
    width: 48px;
}

.furn.sofa_3:before {
    padding-top: 48%;
    background-image: url("../img/planing/sofa_2_1.svg");
}

.furn.sofa_3.rotate:before {
    padding-top: 203%;
    background-image: url("../img/planing/90/sofa_2_1.svg");
}


.furn.table-rectangle {
    width: 30px;
}

.furn.table-rectangle:before {
    padding-top: 92%;
    background-image: url("../img/planing/table_a_1.svg");
}

.furn.table-rectangle.rotate:before {
    padding-top: 109%;
    background-image: url("../img/planing/90/table_a_1.svg");
}

.furn.papertable {
    width: 25px;
}

.furn.papertable:before {
    padding-top: 46%;
    background-image: url("../img/planing/table_2.svg");
}

.furn.papertable.rotate:before {
    padding-top: 230%;
    background-image: url("../img/planing/90/table_2.svg");
}

.furn.bedstand {
    width: 13px;
}

.furn.bedstand:before {
    padding-top: 82%;
    background-image: url("../img/planing/bed_tumba_1.svg");
}

.furn.bedstand.rotate:before {
    padding-top: 123%;
    background-image: url("../img/planing/90/bed_tumba_1.svg");
}

.furn.table-round {
    width: 27px;
}

.furn.table-round:before {
    padding-top: 100%;
    background-image: url("../img/planing/table_b_1.svg");
}

.furn.table-round.rotate:before {
    padding-top: 100%;
    background-image: url("../img/planing/90/table_round.svg");
}

.furn.kitchenstand {
    width: 20px;
}

.furn.kitchenstand:before {
    padding-top: 78%;
    background-image: url("../img/planing/kuh_tumba_1.svg");
}

.furn.kitchenstand.rotate:before {
    padding-top: 128%;
    background-image: url("../img/planing/90/kuh_tumba_1.svg");
}

.furn.kitchenstand_2 {
    width: 15px;
}

.furn.kitchenstand_2:before {
    padding-top: 100%;
    background-image: url("../img/planing/kuh_tumba_2.svg");
}

.furn.kitchenstand_2.rotate:before {
    padding-top: 100%;
    background-image: url("../img/planing/90/kuh_tumba_2.svg");
}

.furn.kitchenstand_3 {
    width: 10px;
}

.furn.kitchenstand_3:before {
    padding-top: 141%;
    background-image: url("../img/planing/kuh_tumba_3.svg");
}

.furn.kitchenstand_3.rotate:before {
    padding-top: 68%;
    background-image: url("../img/planing/90/kuh_tumba_3.svg");
}

.furn.kitchenshelf {
    width: 20px;
}


.furn.kitchenshelf:before {
    padding-top: 53%;
    background-image: url("../img/planing/kuh_polka_1.svg");
}

.furn.kitchenshelf.rotate:before {
    padding-top: 188%;
    background-image: url("../img/planing/90/kuh_polka_1.svg");
}

.furn.kitchenshelf_2 {
    width: 15px;
}

.furn.kitchenshelf_2:before {
    padding-top: 64%;
    background-image: url("../img/planing/kuh_polka_2.svg");
}

.furn.kitchenshelf_2.rotate:before {
    padding-top: 156%;
    background-image: url("../img/planing/90/kuh_polka_2.svg");
}

.furn.kitchenshelf_3 {
    width: 10px;
}

.furn.kitchenshelf_3:before {
    padding-top: 100%;
    background-image: url("../img/planing/kuh_polka_3.svg");
}

.furn.kitchenshelf_3.rotate:before {
    padding-top: 100%;
    background-image: url("../img/planing/90/kuh_polka_3.svg");
}

.furn.dishwasher {
    width: 15px;
}

.furn.dishwasher:before {
    padding-top: 100%;
    background-image: url("../img/planing/machine_1.svg");
}

.furn.dishwasher.rotate:before {
    padding-top: 100%;
    background-image: url("../img/planing/90/machine_1.svg");
}

.furn.tv {
    width: 22px;
}

.furn.tv:before {
    padding-top: 28%;
    background-image: url("../img/planing/tv_1.svg");
}

.furn.tv.rotate:before {
    padding-top: 336%;
    background-image: url("../img/planing/90/tv_1.svg");
}

.furn.wardrobe {
    width: 30px;
}

.furn.wardrobe:before {
    padding-top: 50%;
    background-image: url("../img/planing/wardrobe_1.svg");
}

.furn.wardrobe.rotate:before {
    padding-top: 202%;
    background-image: url("../img/planing/90/wardrobe_1.svg");
}



.furn.wardrobe_2 {
    width: 46px;
}

.furn.wardrobe_2:before {
    padding-top: 34%;
    background-image: url("../img/planing/wardrobe_2.svg");
}

.furn.wardrobe_2.rotate:before {
    padding-top: 298%;
    background-image: url("../img/planing/90/wardrobe_2.svg");
}

.furn.wardrobe_3 {
    width: 15px;
}

.furn.wardrobe_3:before {
    padding-top: 100%;
    background-image: url("../img/planing/wardrobe_3.svg");
}

.furn.wardrobe_3.rotate:before {
    padding-top: 100%;
    background-image: url("../img/planing/90/wardrobe_3.svg");
}

.furn .rotateBtn {
    left: -21px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    visibility: hidden;
}

.furn .resetBtn {
    right: -21px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    visibility: hidden;
}

.furn:hover .rotateBtn,
.furn:hover .resetBtn {
    visibility: visible;
}

.furn button {
    display: inline-block;
    position: absolute;
    border: none;
    background-color: #BF3976;
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    z-index: 1;
    background-position: center center;
    background-repeat: no-repeat;
    transition: none !important;
}

.furn button.rotateBtn {
    background-image: url("../img/planing/arrow_btn.svg");
    background-position: 7px 5px;
    border-radius: 50% 0 0 50%;
}

.furn button.resetBtn {
    background-image: url("../img/planing/cross_btn.svg");
    background-position: 6px 7px;
    border-radius: 0 50% 50% 0;
}

.furn button:hover {
    background-color: #F04D98;
}

.furn-wrap {
    background-position: center 1.3em;
    background-repeat: no-repeat;
    height: 45px;
    position: relative;
    transition: none!important;
    display: table;
    width: 100%;
    margin: 0 auto;
}

.furn-cell {
    display: table-cell;
}

.furn-box {
    text-align: center;
    margin-bottom: 20px;
    float: left;
    width: 50%;
}

.furn-box__full-width {
    width: 100%;
}

.furn-name {
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    line-height: 1;
    white-space: nowrap;
}

.planing-header {
    font-size: 22px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
}

.planing-hint {
    font-size: 0.9em;
}

.flat_plan .img {
    position: relative;
    margin: 9em 110px 75px 140px;
    height: auto;
}

.flat_plan .img img,
.plan {
    display: block;
    width: 322px;
    height: 312px;
    margin-left: auto;
    margin-right: auto;
}


.l-flatplan-container {
    width: calc(74% - 382px);
    float: left;
    background: #F4F6F5;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    opacity: 0;
    transition: none!important;
}

.l-flatplan-container--initialized {
    opacity: 1;
    overflow: visible;
}

.b-flatplan-container__header {
    position: absolute;
    top: 20px;
    text-align: center;
    width: 100%;
    left: 0;
}

.l-furnish-icons-container {
    width: 382px;
    left: 0;
    height: 100%;
    overflow-y: hidden;
    background: #FFFFFF;
}

.b-flatplan {
    width: 66%;
    transition: none!important;
}

.b-flatplan__pushimg {
    display: block;
    height: auto;
    width: 100%;
}

.b-flatplan__inner {
    position: relative;
}

.b-flatplan__area {
    position: absolute;
    background: green;
    opacity: 0;
    transition: all 0.12s !important;
}

.b-flatplan__inner--dragging > .b-flatplan__area{
    opacity: 0.2;
}

/* buttons */

.b-flatplan-buttons {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
}

.b-flatplan-buttons__btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 25px;
    background: #dfdfdf;
    color: #696876;
    min-width: 220px;
    border: none;
    cursor: pointer;
    font-family: 'PFDinTextCondPro', Arial, sans-serif;
}

.b-flatplan-buttons__btn:hover{
    opacity: 0.9;
}


.b-flatplan-buttons__btn--color_red{
    background: #AD2965;
    color: #fff;
}




























