﻿@font-face {
	font-family:'PFDinTextCondProMedium';
	src: url('../fonts/PFDinTextCondProMedium.eot');
	src: local(' '),
		 url('../fonts/PFDinTextCondProMedium.ttf') format('truetype'),
		 url('../fonts/PFDinTextCondProMedium.woff') format('woff');
	font-weight:normal;
	font-style:normal;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;font-size:inherit;font:100%;}

a {color:#3a66dd}
fieldset,img{border:0;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
strong {font-weight:bold;}
em {font-style:italic;}
ul li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym {border:0;font-variant:normal;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%; outline:none; resize:none;}
legend{color:#000;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

*, *:before, *:after { box-sizing:border-box; transition:all .3s ease;}

html{ height:100%; color:#000; background:#FFF; min-width:1280px; min-height:620px;}
body{ min-height:100%; height:100%; text-align:left; font:13px/1.231 'PFDinTextCondProMedium'; letter-spacing:0.02em;}
#bd{ width:100%; min-height:100%; position:relative; margin:0 auto; text-align:left; zoom:1;}
#bd:after{content:".";display:block;height:0px;font-size:0;clear:both;visibility:hidden;}
	#bd .empty{height:45px; clear:both;}
#hd { position:absolute; left:0; top:0; width:100%; height:73px; padding-left:40px; font-size:15px; text-transform:uppercase; z-index:2;}
#hd:before { content:''; position:absolute; left:0; top:0; width:100%; height:100%; background:#fff; opacity:0.7;}
	#hd * { position:relative; z-index:1;}
	#hd .menu { position:absolute; left:50%; top:29px; -webkit-transform:translateX(-50%); transform:translateX(-50%);}
		#hd .menu li { float:left; margin-right:20px;}
		#hd .menu a { text-decoration:none; color:#292929;}
/*@media screen and (max-width:1650px) {
	#hd .menu { -webkit-transform:translateX(-52%); transform:translateX(-52%);}
}
@media screen and (max-width:1650px) {
	#hd .menu { -webkit-transform:translateX(-58%); transform:translateX(-58%);}
}*/
@media screen and (max-width:1550px) {
	#hd .menu { -webkit-transform:translateX(-51%); transform:translateX(-51%);}
}
	#hd .phone { position:absolute; right:40px; top:20px; font-size:20px; text-align:right; letter-spacing:normal;}
	#hd .time { display:block; font-size:12px; margin-top:-2px;}
	#hd .price { position:absolute; right:225px; top:22px; height:30px; padding:0 15px; border:2px solid #ad2965; border-radius:15px; line-height:28px; color:#ad2965; text-decoration:none;}
#ft { height:50px; width:100%; margin:-50px auto 0; padding:0 40px; position:relative; clear:both; background:#2b2728; font-size:12px; line-height:50px; text-transform:uppercase; letter-spacing:0.06em; z-index:2;}
	#ft .soc_icon { display:inline-block; margin:10px 30px 0 0; font-size:0; line-height:0; vertical-align:top;}
		#ft .soc_icon li { display:inline-block; margin-right:10px; overflow:hidden;}
		#ft .soc_icon a { display:block; width:30px; height:30px; background-position:center bottom; background-repeat:no-repeat;}
			#ft .soc_icon .fb { background-image:url(../img/icon_soc_fb.svg);}
			#ft .soc_icon .vk { background-image:url(../img/icon_soc_vk.svg);}
			#ft .soc_icon a:hover img { opacity:0;}
	#ft .copy { float:right; color:#fff; opacity:0.2;}
	#ft .all_prj { display:inline-block; vertical-align:middle; border-bottom:1px dashed #fff; color:#fff; text-decoration:none; line-height:1; opacity:0.54;}
	#ft .aero { position:absolute; left:50%; top:50%; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%); height:33px; padding-left:33px; color:#f89341; background:url(../img/icon_aero.svg) left top no-repeat; line-height:33px;}
#yui-main { position:absolute; width:100%; height:calc(100% - 50px);}
	#yui-main * { z-index:2;}
	#yui-main .hot_action { position:absolute; right:0; top:140px; width:386px; padding:32px 40px; color:#fff; font-size:20px; line-height:27px; text-transform:uppercase;}
	#yui-main .hot_action:before { content:''; position:absolute; left:0; top:0; width:100%; height:100%; background:#2b2728; opacity:0.55;}
		#yui-main .hot_action * { position:relative;}
		#yui-main .hot_action .name { display:inline-block; padding:0 15px; height:30px; background:#af2e61; border-radius:15px; font-size:15px; line-height:32px; margin-bottom:13px;}
		#yui-main .hot_action .list { padding-right:40px;}
		#yui-main .hot_action .str { position:absolute; right:0; width:14px; height:9px; background:url(../img/icon_str.png) center no-repeat;}
			#yui-main .hot_action .str.str_t { top:5px;}
			#yui-main .hot_action .str.str_b { bottom:5px; transform:rotate(180deg);}
	#yui-main .choose_flat { position:absolute; left:40px; bottom:40px; height:50px; border-radius:25px; padding:0 35px; background:#af2e61; color:#fff; text-decoration:none; text-transform:uppercase; font-size:20px; line-height:52px;}
	#yui-main .count { position:absolute; right:96px; bottom:75px; line-height:1; text-transform:uppercase;}
	#yui-main .count:before { content:'до конца ипотеки с господдержкой:'; position:absolute; left:0; top:-23px; font-size:15px; color:#fff; white-space:nowrap;}
	#yui-main .count:after{content:".";display:block;height:0px;font-size:0;clear:both;visibility:hidden;}
		#yui-main .count li { float:left; width:50px; height:38px; text-align:center; background:#fff; border-radius:3px; margin-left:17px; font-size:40px; line-height:40px; color:#292929; position:relative;}
		#yui-main .count li:before { content:':'; position:absolute; left:-17px; top:0; width:17px; font-size:40px; line-height:31px; color:#fff;}
			#yui-main .count li:first-child { margin:0;}
			#yui-main .count li:first-child:before { display:none;}
		#yui-main .count .note { position:absolute; left:0; bottom:-21px; width:100%; font-size:15px; line-height:1; color:#fff;}
	#yui-main .logo_awards { position:absolute; right:40px; bottom:80px; font-size:0; line-height:0;}
	.b-featured-award { position:absolute; bottom:75px; right:180px; z-index:1;}
	#yui-main .slide { height:100%; background-position:center top; background-repeat:no-repeat; background-size:cover; font-size:50px; line-height:56px; text-transform:uppercase; color:#fff; z-index:1;}
	#yui-main .slide:before, #yui-main .slide:after { content:''; position:absolute; left:0; top:0; width:100%; height:100%; background-repeat:no-repeat; background-size:cover;}
		#yui-main .slide .text { position:absolute; left:40px; bottom:120px; padding-top:115px; z-index:1;}
			#yui-main .slide .text .small { font-size:20px;}
			#yui-main .slide .text img { position:absolute; left:0; top:0;}
		#yui-main .slide_1 { background-image:url(../img/index/sl1_image.jpg);}
		#yui-main .slide_1:before { background-image:url(../img/index/sl1_mask.png); background-position:left bottom;}
		#yui-main .slide_2 { background-image:url(../img/index/sl2_image.jpg);}
		#yui-main .slide_2:before { background-image:url(../img/index/sl2_mask_left.png); background-position:left center;}
		#yui-main .slide_2:after { background-image:url(../img/index/sl2_mask_right.png); background-position:right bottom;}
			#yui-main .slide_2 .small { position:absolute; left:156px; top:64px;}
		#yui-main .slide_3 { background-image:url(../img/index/sl3_image.jpg);}
		#yui-main .slide_3:before { background-image:url(../img/index/sl3_mask_left.png); background-position:left bottom;}
		#yui-main .slide_3:after { background-image:url(../img/index/sl3_mask_right.png); background-position:right bottom;}
		#yui-main .slide_4 { background-image:url(../img/index/sl4_image.jpg);}
		#yui-main .slide_5 { background-image:url(../img/index/sl5_image.jpg);}
		#yui-main .slide_5:before { background-image:url(../img/index/sl5_mask_right_top.png); background-position:right top;}
		#yui-main .slide_5:after { background-image:url(../img/index/sl5_mask_right_bottom.png); background-position:right bottom;}
.clear {height:0px;font-size:0;clear:both;visibility:hidden;}/*//z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('beforeEnd', '<div class="clear"></div>'));*/

/*add 30122016*/
#yui-main .icon_action { position:absolute; right:313px; bottom:75px; font-size:0; line-height:0;}

/*add 02022017*/
#ft .soc_icon .insta { position:relative;}
#ft .soc_icon .insta:before { content:''; position:absolute; left:0; top:0; width:30px; height:30px; background:url(../img/icon_soc_insta.svg) left bottom no-repeat; opacity:0;}
	#ft .soc_icon .insta:hover:before { opacity:1;}

/*add 13022017*/
.flat_week_link { position:absolute; left:133px; top:170px; background:#fff; height:61px; padding:10px 32px 0; border-radius:0 30px 30px 0; color:#af2e61; font-size:16px; line-height:20px; letter-spacing:0.02em; text-transform:uppercase; text-decoration:none; z-index:3;}
.flat_week_link:before { content:''; position:absolute; left:-92px; top:-30px; width:116px; height:116px; background:url(../img/flat_week/calendar_white.svg) center no-repeat #af2e61; border-radius:58px;}