﻿@font-face {
    font-family: 'PFDinDisplayPro';
    src: url('../fonts/PFDinDisplayPro.eot');
    src: local(' '),
    url('../fonts/PFDinDisplayPro.ttf') format('truetype'),
    url('../fonts/PFDinDisplayPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextCondPro';
    src: url('../fonts/PFDinTextCondProRegular.eot');
    src: local(' '),
    url('../fonts/PFDinTextCondProRegular.ttf') format('truetype'),
    url('../fonts/PFDinTextCondProRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextCondPro';
    src: url('../fonts/PFDinTextCondProMedium.eot');
    src: local(' '),
    url('../fonts/PFDinTextCondProMedium.ttf') format('truetype'),
    url('../fonts/PFDinTextCondProMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ffdc';
    src: url('../fonts/ffdc.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ffdc-el';
    src: url('../fonts/ffdc-el.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ffdc-b';
    src: url('../fonts/ffdc-b.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
    font: 100%;
}

a {
    color: #3a66dd;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: normal;
    font-weight: normal;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

ul li {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

h1 {
    font-weight: 500;
    font-size: 50px;
    line-height: 56px;
    text-transform: uppercase;
}

h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 27px;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%;
    outline: none;
    resize: none;
}

legend {
    color: #000;
}

pre,
code,
kbd,
samp,
tt {
    font-family: monospace;
    *font-size: 108%;
    line-height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    transition: all .3s ease;
}

html {
    height: 100%;
    color: #323232;
    background: #FFF;
    min-width: 1280px;
    min-height: 620px;
}

body {
    min-height: 100%;
    height: 100%;
    text-align: left;
    font: 17px/24px 'PFDinTextCondPro';
    letter-spacing: 0.015em;
}

#bd {
    width: 100%;
    min-height: 100%;
    position: relative;
    margin: 0 auto;
    text-align: left;
    zoom: 1;
}

#bd:after {
    content: ".";
    display: block;
    height: 0px;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

#bd .empty {
    height: 50px;
    clear: both;
}

#hd {
    height: 73px;
    padding: 6px 0 0 40px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

#hd .logo {
    float: left;
}

#hd .menu {
    position: absolute;
    left: 50%/*22.1%283px*/
    ;
    top: 26px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#hd .menu li {
    float: left;
    height: 22px;
    margin-right: 20px;
    border-bottom: 2px solid #fff;
    position: relative;
}

#hd .menu li:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -27px;
    margin-left: -10px;
    border: 9px solid transparent;
    border-bottom: 16px solid #dfdfdf;
    display: none;
}

#hd .menu .sel {
    border-bottom-color: #bf3976;
}

#hd .menu .sel:after {
    display: block;
}

#hd .menu a {
    text-decoration: none;
    color: #292929;
}

@media screen and (max-width:1650px) {
    #hd .menu {
        -webkit-transform: translateX(-52%);
        transform: translateX(-52%);
    }
}

@media screen and (max-width:1650px) {
    #hd .menu {
        -webkit-transform: translateX(-58%);
        transform: translateX(-58%);
    }
}

@media screen and (max-width:1350px) {
    #hd .menu {
        -webkit-transform: translateX(-63.9%);
        transform: translateX(-63.9%);
    }
}

#hd .phone {
    position: absolute;
    right: 40px;
    top: 20px;
    font-size: 20px;
    text-align: right;
    letter-spacing: normal;
}

#hd .time {
    display: block;
    font-size: 12px;
    margin-top: -7px;
}

#hd .price {
    position: absolute;
    right: 225px;
    top: 22px;
    height: 30px;
    padding: 0 15px;
    border: 2px solid #ad2965;
    border-radius: 15px;
    line-height: 28px;
    color: #ad2965;
    text-decoration: none;
}

.submenu {
    height: 47px;
    padding-top: 7px;
    background: #dfdfdf;
    text-align: center;
    font-size: 0;
    line-height: 0;
    text-align: center;
}

.submenu li {
    display: inline-block;
    height: 30px;
    border-radius: 15px;
    padding: 0 20px;
    font-size: 17px;
    line-height: 30px;
}

.submenu .sel {
    background: #fff;
}

.submenu a {
    color: #696969;
    text-decoration: none;
}

#ft {
    height: 50px;
    width: 100%;
    margin: -50px auto 0;
    padding: 0 40px;
    position: relative;
    clear: both;
    background: #2b2728;
    font-size: 12px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    z-index: 2;
}

#ft .soc_icon {
    display: inline-block;
    margin: 10px 30px 0 0;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
}

#ft .soc_icon li {
    display: inline-block;
    margin-right: 10px;
    overflow: hidden;
}

#ft .soc_icon a {
    display: block;
    width: 30px;
    height: 30px;
    background-position: center bottom;
    background-repeat: no-repeat;
}

#ft .soc_icon .fb {
    background-image: url(../img/icon_soc_fb.svg);
}

#ft .soc_icon .vk {
    background-image: url(../img/icon_soc_vk.svg);
}

#ft .soc_icon a:hover img {
    opacity: 0;
}

#ft .copy {
    float: right;
    color: #fff;
    opacity: 0.2;
}

#ft .all_prj {
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px dashed #fff;
    color: #fff;
    text-decoration: none;
    line-height: 1;
    opacity: 0.54;
}

#ft .aero {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 33px;
    padding-left: 33px;
    color: #f89341;
    background: url(../img/icon_aero.svg) left top no-repeat;
    line-height: 33px;
}

.clear {
    height: 0px;
    font-size: 0;
    clear: both;
    visibility: hidden;
}


/*//z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('beforeEnd', '<div class="clear"></div>'));*/

.bold {
    font-weight: 500;
}

#flat_page {
    position: absolute;
    left: 0;
    top: 120px;
    width: 100%;
    height: calc(100% - 120px);
    min-height: 610px;
}

.yui-l {
    float: left;
    width: 100%;
    height: 100%;
    margin: 0 -387px 0 0;
}

.yui-b {
    float: right;
    width: 387px;
    height: 100%;
    position: relative;
    background: #fff;
}

.yui-l .yui-b {
    float: none;
    width: auto;
    margin: 0 387px 0 0;
    background: #f3f5f5;
}

.decor_style {
    float: left;
    width: 26%;
    height: 100%;
}

.decor_style li {
    height: calc(100% / 3);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.decor_style li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #3f2a15;
    opacity: 0;
}

.decor_style li:hover:before {
    opacity: 0.59;
}

.decor_style li:nth-child(1) {
    background-image: url(../img/flat_page_img/ot_1.jpg);
}

.decor_style li:nth-child(2) {
    background-image: url(../img/flat_page_img/ot_2.jpg);
}

.decor_style li:nth-child(3) {
    background-image: url(../img/flat_page_img/ot_3.jpg);
}

.decor_style a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 53px 40px 0;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0;
}

.decor_style a:hover {
    opacity: 1;
}

.flat_plan {
    float: left;
    width: 70%;
    height: 100%;
    position: relative;
}

.flat_plan .view {
    position: absolute;
    left: 40px;
    background-image: url(../img/icon_eye.svg);
    background-repeat: no-repeat;
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    color: #434343;
    text-decoration: none;
}

.flat_plan .view.yard {
    top: 45px;
    padding-bottom: 25px;
    background-position: center bottom;
}

.flat_plan .view.street {
    bottom: 40px;
    padding-top: 25px;
    background-position: center top;
}

.flat_plan .rose_wind {
    position: absolute;
    right: 40px;
    bottom: 31px;
    font-size: 0;
    line-height: 0;
}

.flat_plan .img {
    height: calc(100% - 150px);
    margin: 75px 110px 75px 140px;
}

.flat_plan .img img {
    width: 100%;
    height: 100%;
}

.flat_info {
    border-bottom: 1px solid #e3e3e3;
    padding: 49px 0 35px 40px;
}

.flat_info .number {
    padding-left: 17px;
    background: url(../img/icon_number.png) left 2px no-repeat;
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 32px;
}

.flat_info .download {
    float: right;
    margin: 1px 40px 0 0;
    min-height: 19px;
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    color: #292929;
    text-decoration: none;
    padding: 5px 32px 0 0;
    background: url(../img/icon_pdf.svg) right center no-repeat;
    position: relative;
}

.flat_info .download:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px;
    width: calc(100% - 33px);
    height: 1px;
    background: #cecece;
}

.flat_info ul {
    width: 330px;
    -webkit-columns: 2 165px;
    -webkit-column-gap: 0;
    -moz-columns: 2 165px;
    -moz-column-gap: 0;
    columns: 2 165px;
    column-gap: 0;
    line-height: 22px;
    letter-spacing: 0.02em;
}

.flat_price {
    border-bottom: 1px solid #e3e3e3;
    padding: 33px 40px 34px;
}

.flat_price:after {
    content: ".";
    display: block;
    height: 0px;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.flat_price .number {
    font-size: 50px;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.flat_price .info {
    float: left;
    width: 163px;
    line-height: 22px;
}

.flat_price .info+.info {
    width: 140px;
}

.flat_advantage {
    position: absolute;
    left: 14px;
    bottom: 30px;
    width: 360px;
    padding-bottom: 33px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.flat_advantage:after {
    content: ".";
    display: block;
    height: 0px;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.flat_advantage .item {
    float: left;
    width: 120px;
    padding-top: 68px;
    position: relative;
}

.flat_advantage .item img {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.flat_advantage .bullit {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 9px;
    font-size: 0;
    line-height: 0;
}

.flat_advantage .bullit a {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 4px;
    margin: 0 6px;
    background: #adadad;
}

.flat_advantage .bullit .active {
    background: #ff9848;
}

#flat_choice {
    position: absolute;
    left: 0;
    top: 120px;
    width: 100%;
    height: calc(100% - 120px);
    min-height: 610px;
    background: #f3f5f5;
    z-index: 2;
}

#flat_choice h1 {
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 40px;
    transform: rotate(-90deg);
    font-size: 40px;
    line-height: 1;
    white-space: nowrap;
}

#flat_choice .legend {
    position: absolute;
    left: 40px;
    top: 40px;
}

#flat_choice .legend li {
    height: 30px;
    margin-bottom: 10px;
    padding-left: 42px;
    font-weight: 500;
    font-size: 12px;
    line-height: 32px;
    text-transform: uppercase;
    position: relative;
}

#flat_choice .legend li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

#flat_choice .legend .stud:before {
    background: #e6a5a5;
}

#flat_choice .legend .room_1:before {
    background: #e6c2a5;
}

#flat_choice .legend .room_2:before {
    background: #9cc6ab;
}

#flat_choice .legend .room_3:before {
    background: #a5c8e6;
}

#flat_choice .legend .sale:before {
    background: #dadada;
}

#flat_choice .img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -53%);
    transform: translate(-50%, -53%);
    margin: 15px;
}

#flat_choice .floor_count {
    position: absolute;
    left: 7px;
    bottom: 35px;
}

#flat_choice .floor_count li {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    text-align: right;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: #c7c7c7;
}

#flat_choice .section {
    position: absolute;
    bottom: 44px;
    font-size: 0;
    line-height: 0;
}

#flat_choice .section:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -25px;
    width: 100%;
    padding-right: 10px;
    text-align: center;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
}

#flat_choice .section li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px 10px 0 0;
    background: #dadada;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

#flat_choice .section li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: #d77633;
    opacity: 0;
}

#flat_choice .section li:hover {
    z-index: 2;
    background: #dadada !important;
    overflow: visible;
}

#flat_choice .section li:hover .info {
    opacity: 1;
}

#flat_choice .section .stud {
    background: #e6a5a5;
}

#flat_choice .section .room_1 {
    background: #e6c2a5;
}

#flat_choice .section .room_2 {
    background: #9cc6ab;
}

#flat_choice .section .room_3 {
    background: #a5c8e6;
}

#flat_choice .section .stud:hover:before,
#flat_choice .section .room_1:hover:before,
#flat_choice .section .room_2:hover:before,
#flat_choice .section .room_3:hover:before {
    opacity: 1;
}

#flat_choice .section .break {
    display: block;
    width: 1px;
    height: 0;
    margin: 0;
}

#flat_choice .section .info {
    position: absolute;
    left: 25px;
    top: -51px;
    width: 210px;
    height: 115px;
    padding: 27px 30px 0;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 54px #f7ece3;
    font-weight: 500;
    font-size: 15px;
    line-height: 1;
    text-transform: uppercase;
    opacity: 0;
}

#flat_choice .section .info:before {
    content: '';
    position: absolute;
    left: -21px;
    top: 50%;
    margin-top: -4px;
    border: 8px solid transparent;
    border-right: 13px solid #fff;
}

#flat_choice .section .numb {
    float: left;
    margin-bottom: 12px;
    padding-left: 12px;
    background: url(../img/icon_number.png) left 3px no-repeat;
    background-size: 11px 10px;
}

#flat_choice .section .square {
    float: right;
}

#flat_choice .section .price {
    float: left;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    padding-top: 13px;
    font-size: 20px;
    color: #dc7d38;
}

#flat_choice .section_1 {
    left: 556px;
}

#flat_choice .section_2 {
    left: 286px;
}

#flat_choice .section_3 {
    left: 76px;
}

#flat_choice .close {
    position: absolute;
    right: 42px;
    top: 42px;
    width: 24px;
    height: 24px;
    background: url(../img/icon_close.png) center no-repeat;
}

.bt-round-flats-list {
    position: absolute;
    left: 27px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    display: block;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #bf3976
}

.bt-round-flats-list:hover {
    background: #fff
}

.bt-round-flats-list .choose-params-ico {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -10px
}

a .choose-params-ico {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    vertical-align: middle
}

a .choose-params-ico .l1,
a .choose-params-ico .l2,
a .choose-params-ico .l3 {
    display: block;
    position: relative;
    width: 20px;
    margin: 0 auto 5px;
    height: 2px;
    background: #fff;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s
}

a .choose-params-ico .c1,
a .choose-params-ico .c2,
a .choose-params-ico .c3 {
    display: block;
    width: 6px;
    height: 6px;
    background: #ad2965;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid #fff;
    position: absolute;
    left: 0;
    top: -2px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s
}

a .choose-params-ico .c1:after,
a .choose-params-ico .c2:after,
a .choose-params-ico .c3:after,
a .choose-params-ico .c1:before,
a .choose-params-ico .c2:before,
a .choose-params-ico .c3:before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 2px;
    background: #ad2965;
    left: -3px;
    top: 0
}

a .choose-params-ico .c1:before,
a .choose-params-ico .c2:before,
a .choose-params-ico .c3:before {
    left: auto;
    right: -3px
}

a .choose-params-ico .c1 {
    left: 14px
}

a .choose-params-ico .c3 {
    left: 10px
}

a:hover .choose-params-ico .l1,
a:hover .choose-params-ico .l2,
a:hover .choose-params-ico .l3 {
    background: #ad2965
}

a:hover .choose-params-ico .c1,
a:hover .choose-params-ico .c2,
a:hover .choose-params-ico .c3 {
    background: #fff;
    border-color: #ad2965
}

a:hover .choose-params-ico .c1:after,
a:hover .choose-params-ico .c2:after,
a:hover .choose-params-ico .c3:after,
a:hover .choose-params-ico .c1:before,
a:hover .choose-params-ico .c2:before,
a:hover .choose-params-ico .c3:before {
    background: #fff
}

a:hover .choose-params-ico .c1 {
    left: 0
}

a:hover .choose-params-ico .c2 {
    left: 14px
}

a:hover .choose-params-ico .c3 {
    left: 0
}

.bt-flt-choose-params {
    position: absolute;
    left: 50%;
    bottom: 40px;
    margin-left: -147px;
    width: 294px;
    height: 50px;
    padding-left: 20px;
    border-radius: 25px;
    background: #ad2965;
    font-weight: 500;
    font-size: 20px;
    line-height: 52px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    overflow: hidden;
    z-index: 3;
}

.bt-flt-choose-params:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.bt-flt-choose-params:hover {
    color: #ad2965;
}

.bt-flt-choose-params:hover:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.bt-flt-choose-params .choose-params-ico {
    margin-right: 20px;
}

.about_top {
    height: 450px;
    padding: 70px 90px;
    font-weight: 500;
    font-size: 50px;
    line-height: 56px;
    color: #fff;
    text-transform: uppercase;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about_top .text {
    position: relative;
    left: 50%;
    max-width: 600px;
}

.about_top .small {
    display: block;
    margin-top: 7px;
    font-size: 20px;
    line-height: 26px;
}

.about_adv {
    padding: 77px 0 115px;
    background: url(../img/about/pattern.jpg) center bottom repeat-x #fff;
}

.about_adv .wrap {
    width: 1280px;
    margin: 0 auto;
    position: relative;
}

.about_adv h1 {
    float: left;
    margin: 0 0 60px 100px;
    max-width: 440px;
}

.about_adv .text {
    margin: 0 100px 47px 640px;
    padding-top: 13px;
    font-family: 'PFDinDisplayPro';
}

.about_adv .adv {
    font-size: 0;
    line-height: 0;
    text-transform: uppercase;
    text-align: center;
}

.about_adv .adv:before {
    content: ".";
    display: block;
    height: 0px;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.about_adv .adv li {
    display: inline-block;
    width: 23.5%;
    padding: 66px 20px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    position: relative;
    vertical-align: top;
}

.about_adv .adv img {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.about_prizes {
    background: #eceae9;
}

.about_prizes .wrap {
    width: 1280px;
    margin: 0 auto;
    padding: 40px 35px;
    position: relative;
}

.about_prizes .wrap:before {
    content: 'наши награды';
    position: absolute;
    right: 90px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 200px;
    font-weight: 500;
    font-size: 50px;
    line-height: 56px;
    text-transform: uppercase;
}

.about_prizes .wrap:after {
    content: ".";
    display: block;
    height: 0px;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.about_prizes ul {
    float: left;
    background: #fff;
    position: relative;
}

.about_prizes ul:before {
    content: '';
    position: absolute;
    left: 300px;
    top: 0;
    width: 310px;
    height: 100%;
    border-left: 10px solid #eceae9;
    border-right: 10px solid #eceae9;
}

.about_prizes ul:after {
    content: ".";
    display: block;
    height: 0px;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.about_prizes li {
    float: left;
    width: 290px;
    padding: 205px 35px 30px;
    margin-left: 10px;
    font-family: 'PFDinDisplayPro';
    position: relative;
    z-index: 1;
}

.about_prizes img {
    position: absolute;
    left: 50%;
    top: 40px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.about_prj {
    height: 500px;
    position: relative;
}

.about_prj:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about_prj .text {
    width: 50%;
    max-width: 640px;
    padding: 0 100px;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.about_prj .text p {
    font-family: 'PFDinDisplayPro';
}

.about_prj .more {
    display: inline-block;
    height: 30px;
    margin-top: 33px;
    padding: 0 22px;
    border: 2px solid #ad2965;
    border-radius: 15px;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    color: #ad2965;
    text-transform: uppercase;
    text-decoration: none;
}

.about_prj.item_1:before {
    background-image: url(../img/about/bgr_1.jpg);
}

.about_prj.item_2 {
    background-color: #f3f5f5;
}

.about_prj.item_2:before {
    left: 50%;
    background-image: url(../img/about/bgr_2.jpg);
}

.about_prj.item_2 .text {
    left: 50%;
    margin-left: -640px;
}

.about_prj.item_3:before {
    background-image: url(../img/about/bgr_3.jpg);
}


/*add 12122016*/

#choice_house {
    position: absolute;
    left: 0;
    top: 120px;
    width: 100%;
    height: calc(100% - 120px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#choice_house .number {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #ad2965;
    font-weight: 500;
    font-size: 20px;
    line-height: 52px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

#choice_house .number.active {
    z-index: 3;
}

#choice_house .number.active .count {
    display: none;
}

#choice_house .number.disable {
    background: #7f7f7f;
    cursor: default;
}

#choice_house .number.house_1 {
    left: 19%;
    top: 35%;
}

#choice_house .number.house_2 {
    left: 28%;
    top: 38%;
}

#choice_house .number.house_3 {
    left: 40%;
    top: 22%;
}

#choice_house .number.house_4 {
    left: 48%;
    top: 31%;
}

#choice_house .number.house_5 {
    left: 59%;
    top: 11%;
}

#choice_house .number.house_6 {
    left: 66%;
    top: 27%;
}

#choice_house .number.house_7 {
    left: 34%;
    top: 51%;
}

#choice_house .number.house_8 {
    left: 56%;
    top: 43%;
}

#choice_house .number.house_9 {
    left: 76%;
    top: 38%;
}

#choice_house .number.house_10 {
    left: 72%;
    top: 11%;
}

#choice_house .number.house_11 {
    left: 89%;
    top: 24%;
}

#choice_house .number.house_12 {
    left: 95%;
    top: 47%;
}

#choice_house .number .info {
    position: absolute;
    left: calc(100% + 29px);
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-left: 1px solid #fff;
    padding-left: 17px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    text-align: left;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    visibility: hidden;
    opacity: 0;
}

#choice_house .number .info:before {
    content: '';
    position: absolute;
    left: -30px;
    top: 50%;
    margin-top: -1px;
    width: 29px;
    height: 2px;
    background: #fff;
}

#choice_house .number .info li+li {
    margin-top: 21px;
}

#choice_house .number .info .price {
    margin-top: 3px;
    font-size: 16px;
    color: #eb8135;
}

#choice_house .number.active .info {
    width: auto;
    height: auto;
    visibility: visible;
    opacity: 1;
}

#choice_house .number .info.right {
    left: auto;
    right: calc(100% + 29px);
    border-left: none;
    border-right: 1px solid #fff;
    padding: 0 17px 0 0;
}

#choice_house .number .info.right:before {
    left: auto;
    right: -30px;
}

#choice_house .count {
    position: absolute;
    right: -16px;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: #fff;
    font-size: 12px;
    line-height: 32px;
    color: #474747;
}

#choice_house .soon .count {
    background: #ffd781;
}

#choice_house .mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

#choice_house .mask svg {
    width: 100%;
    height: 100%;
}

#choice_house .rose_wind {
    position: absolute;
    left: 40px;
    bottom: 31px;
    font-size: 0;
    line-height: 0;
}

.bld-info {
    position: absolute;
    left: calc(100% + 29px);
    top: 50%;
    border-left: 1px solid #fff;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: 1;
    visibility: hidden;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
    -webkit-transform: translate(-30px, -50%);
    -moz-transform: translate(-30px, -50%);
    -ms-transform: translate(-30px, -50%);
    -o-transform: translate(-30px, -50%);
    transform: translate(-30px, -50%);
}

.bld-info:before {
    content: '';
    position: absolute;
    left: -30px;
    top: 50%;
    margin-top: -1px;
    width: 29px;
    height: 2px;
    background: #fff;
}

.bld-marker.active.hover .bld-info {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}


/*.bld-info { position:absolute; left: 125px; top: 25px; width: 176px; color: #fff; text-align: left; opacity: 1; visibility: hidden; -webkit-transition: all .6s; -moz-transition: all .6s; -ms-transition: all .6s; -o-transition: all .6s; transition: all .6s; -webkit-transform: translateX(-30px); -moz-transform: translateX(-30px); -ms-transform: translateX(-30px); -o-transform: translateX(-30px); transform: translateX(0);}*/


/*add 31012017*/

#flat_choice .prev,
#flat_choice .next {
    position: absolute;
    bottom: 7px;
    background: url(../img/section/sek_0.svg) center top no-repeat;
    width: 63px;
    height: 73px;
    padding-top: 45px;
    text-align: center;
    font-size: 12px;
    color: #474747;
}

#flat_choice .prev.disable,
#flat_choice .next.disable {
    display: none;
}

#flat_choice .prev:hover,
#flat_choice .next:hover {
    color: #808080;
}

#flat_choice .prev {
    left: -80px;
}

#flat_choice .next {
    right: -80px;
}

#flat_choice .section_1 {
    left: 71px;
}

#flat_choice .section_2 {
    left: 373px;
}

#flat_choice .section_3 {
    left: 585px;
}

#flat_choice .section_4 {
    left: 78px;
}

#flat_choice .section_5 {
    left: 259px;
}

#flat_choice .section_6 {
    left: 471px;
}

#flat_choice .section_7 {
    left: 78px;
}

#flat_choice .section_8 {
    left: 289px;
}

#flat_choice .section_nav {
    position: absolute;
    top: 50%;
    right: 40px;
    -webkit-transform: translateY(-80%);
    transform: translateY(-80%);
    width: 107px;
}

#flat_choice .section_nav li+li {
    margin-top: 10px;
}

#flat_choice .section_nav a {
    display: block;
    height: 30px;
    border-radius: 15px;
    background: #ad2965;
    font-weight: 500;
    font-size: 12px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}

#flat_choice .section_nav a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#flat_choice .section_nav a:hover {
    color: #ad2965;
    background: #fff;
    transition: background 1.1s ease
}

#flat_choice .section_nav a:hover:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

#flat_choice .section_nav .active {
    background: #d5d5d5;
    color: #323232;
}

#flat_choice .section_nav .active:hover {
    background: #d5d5d5;
    color: #323232;
}

#flat_choice .section_nav .active:hover:before {
    -webkit-transform: scale(0);
    transform: scale(0);
}


.mortage_result {
    margin-bottom: -80px;
}

.mortage_result a {
    text-decoration: none;
}

.mortage_result .row {
    padding: 0;
    border-top: 1px solid #e3e3e3;
}

.mortage_result .row:hover {
    background: #f7fafa;
    cursor: pointer;
}

.mortage_result .row img {
    display: block;
}

.mortage_result .row.top {
    background: #f4f6f6 !important;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    font: 10px/1 'PFDinDisplayPro' !important;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.mortage_result .row.top a {
    color: #ad2965;
}

.mortage_result .wrap {
    display: table;
    width: 1076px;
    margin: 0 auto;
}

.mortage_result .col {
    float: none;
    display: table-cell;
    vertical-align: middle;
    padding: 20px 0 !important;
    position: relative;
}

.mortage_result .row.top .col {
    height: 37px;
    padding: 0 !important;
}

.mortage_result .col_1 {
    width: 325px;
}

.mortage_result .col_2 {
    width: 330px;
}

.mortage_result .row.top .col_2 {
    padding-left: 40px !important;
}

.mortage_result .col_3 {
    width: 421px;
}

.mortage_result .col_3:before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -24px;
    width: 48px;
    height: 48px;
    background: url(../img/calc/arrow_right.svg) left top no-repeat;
}

.mortage_result .col_3:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -24px;
    width: 48px;
    height: 48px;
    background: url(../img/calc/arrow_right.svg) left bottom no-repeat;
    opacity: 0;
}

.mortage_result .row:hover .col_3:before {
    opacity: 0;
}

.mortage_result .row:hover .col_3:after {
    opacity: 1;
}

.mortage_result .row.top .col_3 {
    padding-left: 50px !important;
}

.mortage_result .row.top .col_3:before,
.mortage_result .row.top .col_3:after {
    display: none;
}

.mortage_result .big {
    font-weight: 500;
    font-size: 22px;
}



/*add 13022017*/

.flat_week {
    background: #f3f5f5;
    padding: 70px 0 35px;
}

.flat_week_head {
    text-align: center;
    background: url(../img/flat_week/calendar.svg) center top no-repeat;
    padding: 73px 0 52px;
}

.flat_week_head h1 {
    font: 90px/1 ffdc-el;
    color: #ad2965;
    margin-bottom: 25px;
}

.flat_week_head h1 .small {
    display: block;
    font: 30px/1 ffdc;
    margin-bottom: 11px;
}

.flat_week_head h5 {
    font: 500 20px/24px 'PFDinTextCondPro';
    color: #f79341;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.flat_week .row {
    /* max-width:1280px; margin:0 auto;*/
    height: 650px;
    padding: 25px 40px 50px;
}

.flat_week .row .wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.flat_week .row:nth-child(even) {
    background: #fff;
}

.flat_week .row:after {
    content: ".";
    display: block;
    height: 0px;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.flat_week .col_1 {
    float: left;
    width: 33.33%;
    height: 575px;
}

.flat_week .row:nth-child(even) .col_1 {
    padding-left: 15px;
}

.flat_week .col_2 {
    float: left;
    width: 16.66%;
    min-height: 1px;
}

.flat_week .col_3 {
    float: left;
    width: 33.33%;
    height: 575px;
    padding-right: 15px;
}

.flat_week .row:nth-child(even) .col_3 {
    padding-right: 0;
}

.flat_week .flat_price .info {
    margin-bottom: 15px;
    color: #9d9d9d;
}

.flat_week .flat_price .info+.info {
    color: #696969
}

.flat_week .flat_price .number {
    color: #f79341;
    position: relative;
    padding-top: 21px;
    clear: both;
    margin-bottom: 0;
}

.flat_week .flat_price .number:before {
    content: 'Выгода';
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 700;
    font-size: 17px;
    text-transform: none;
}

.flat_week .flat_advantage {
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 25px;
}

.flat_week .img {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.flat_week .img img {
    max-width: 400px;
    display: inline-block;
    margin-bottom: 40px;
}

.flat_week .bt-flt-choose-params {
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    width: 270px;
    height: 50px;
    padding-left: 86px;
    border-radius: 25px;
    background: url(../img/flat_week/block_white.svg) 54px center no-repeat #ad2965;
    text-align: left;
}

.flat_week .bt-flt-choose-params:before {
    background: url(../img/flat_week/block.svg) 54px center no-repeat #fff;
}

.flat_week .bt-flt-choose-params:hover {
    background: #fff;
    transition: background 1.1s ease;
}


/*.call_me { position:absolute; left:0; top:0; width:100%; height:100%; z-index:100;}
.call_me:before { content:''; position:fixed; left:0; top:0; width:100%; height:100%; background:#000; opacity:0.7;}
	.call_me .inner { position:relative; left:50%; top:50%; width:510px; height:570px; padding:78px 55px 0; margin:-285px 0 0 -255px; background:#fff; text-align:center; z-index:1;}
	.call_me .close { position:absolute; right:20px; top:20px; background:url(../img/flat_week/close_popup.svg) center no-repeat; width:17px; height:17px; z-index:2;}
	.call_me .name { font:500 24px/1 'PFDinTextCondPro'; text-transform:uppercase; color:#484a4a; margin-bottom:53px;}
		.call_me .name .small { display:block; font:normal 14px/20px 'PFDinDisplayPro'; text-transform:none; margin-top:8px;}
	.call_me .row { position:relative; max-width:400px; margin:0 auto 45px; text-align:center;}
		.call_me .row.last { margin-bottom:0;}
	.call_me label { position:absolute; left:0; top:1px; width:100%; height:50px; font:20px/50px 'PFDinDisplayPro'; color:#999; z-index:2;}
	.call_me .error_text { position:absolute; left:0; top:-11px; width:100%; font:14px/1 'PFDinDisplayPro'; color:#e35500; z-index:2; display:none;}
	.call_me input[type=text] { width:100%; height:49px; font:20px/49px 'PFDinDisplayPro'; border:none; border-bottom:1px solid #e6e6e6; text-align:center;  margin:0; outline:none;}
		.call_me input[type=text]:focus { border-color:#ad2965;}
	.call_me input[type=submit] { display:inline-block; width:220px; height:40px; margin-top:-15px; font:500 18px/40px 'PFDinTextCondPro'; color:#fff; text-transform:uppercase; background:#ad2965; border:none; border-radius:20px; text-align:center; cursor:pointer;}
	.call_me .row.active label { top:-11px; height:auto; font:14px/1 'PFDinDisplayPro';}
	.call_me .row.error .error_text { display:block;}
		.call_me .row.error input { border-color:#e35500;}
	.call_me .successfully { background:url(../img/icon_heart.svg) center top no-repeat; padding-top:120px;}*/

.call_me {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.call_me:before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
}

.call_me * {
    box-sizing: border-box;
}

.call_me .inner {
    position: relative;
    left: 50%;
    top: 50%;
    width: 510px;
    height: 700px;
    padding: 78px 55px 0;
    margin: -350px 0 0 -255px;
    background: #fff;
    text-align: center;
    z-index: 1;
}

.call_me .close {
    position: absolute;
    right: 20px;
    top: 20px;
    background: url(../img/close_popup.svg) center no-repeat;
    width: 17px;
    height: 17px;
    z-index: 2;
}

.call_me .name {
    font: 500 24px/1 'PFDinTextCondPro';
    text-transform: uppercase;
    color: #484a4a;
    margin-bottom: 53px;
}

.call_me .name .small {
    display: block;
    font: normal 14px/20px 'PFDinDisplayPro';
    text-transform: none;
    margin-top: 8px;
}

.call_me .row {
    position: relative;
    max-width: 400px;
    margin: 0 auto 45px;
    padding: 0;
    text-align: center;
}

.call_me .row.last {
    margin-bottom: 0;
}

.call_me label {
    position: absolute;
    left: 0;
    top: 1px;
    width: 100%;
    height: 50px;
    font: 20px/50px 'PFDinDisplayPro';
    color: #999;
    z-index: 2;
}

.call_me .error_text {
    position: absolute;
    left: 0;
    top: -11px;
    width: 100%;
    font: 14px/1 'PFDinDisplayPro';
    color: #e35500;
    z-index: 2;
    display: none;
}

.call_me input[type=text] {
    width: 100%;
    height: 49px;
    padding: 0;
    font: 20px/49px 'PFDinDisplayPro';
    border: none;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
    margin: 0;
    outline: none;
}

.call_me input[type=text]:focus {
    border-color: #ad2965;
}

.call_me .row.capcha {
    text-align: left;
    padding-left: 15px;
}

.call_me .row.capcha input {
    float: right;
    width: calc(50% + 8px);
}

.call_me .row.capcha label {
    left: auto;
    right: 0;
    width: 50%;
}

.call_me .row.capcha .error_text {
    text-align: right;
}

.call_me input[type=submit] {
    display: inline-block;
    width: 220px;
    height: 40px;
    margin-top: 10px;
    font: 500 18px/40px 'PFDinTextCondPro';
    color: #fff;
    text-transform: uppercase;
    background: #ad2965;
    border: none;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

.call_me .row.active label {
    top: -11px;
    height: auto;
    font: 14px/1 'PFDinDisplayPro';
}

.call_me .row.error .error_text {
    display: block;
}

.call_me .row.error input {
    border-color: #e35500;
}

.call_me .successfully {
    position: relative;
    top: calc(50% - 39px);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url(../img/resale/check.svg) calc(50% + 17px) top no-repeat;
    padding-top: 138px;
}


/*add 15022017*/

.family_filter {
    background: #f3f5f5;
    padding: 70px 0 35px;
}

.family_filter_head {
    text-align: center;
    background: url(../img/calc/family.svg) center top no-repeat;
    padding: 153px 0 52px;
}

.family_filter_head h1 {
    font: 500 20px/1 'PFDinTextCondPro';
    color: #ad2965;
    margin-bottom: 20px;
}

.family_filter_result_wrap {
    text-align: center;
}

.family_filter_result {
    display: inline-block;
    min-width: 420px;
    padding: 0 53px;
    margin-bottom: 33px;
    border-radius: 60px;
    background: #eaeded;
    font-size: 0;
    line-height: 0;
}

.family_filter_result .item {
    display: inline-block;
    height: 120px;
    padding-top: 24px;
    margin: 0 11px;
    vertical-align: top;
    font: 500 20px/1 'PFDinTextCondPro';
}

.family_filter_result .icon {
    display: inline-block;
    height: 41px;
    margin-bottom: 8px;
    font-size: 36px;
    color: #ae2966;
}

.family_filter_result .icon.men {
    background-image: url(../img/calc/icon_men.svg);
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 41px auto;
}

.family_filter_result .men.count_1 {
    width: 18px;
}

.family_filter_result .men.count_2 {
    width: 39px;
}

.family_filter_result .men.count_3 {
    width: 58px;
}

.family_filter_result .men.count_4 {
    width: 77px;
}

.family_filter_result .icon.age {
    padding-top: 11px;
    margin-bottom: 11px;
}

.family_filter_result .icon.child {
    background-image: url(../img/calc/icon_child.svg);
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 27px auto;
}

.family_filter_result .child.count_1 {
    width: 14px;
}

.family_filter_result .child.count_2 {
    width: 27px;
}

.family_filter_result .child.count_3 {
    width: 41px;
}

.family_filter_result .child.count_4 {
    width: 51px;
}

.family_filter_steps {
    text-align: center;
    font: 500 30px/1 'PFDinTextCondPro';
}

.family_filter_steps p {
    margin-bottom: 25px;
}

.family_filter input[type=submit] {
    display: block;
    background: #ad2965;
    border: none;
    width: 220px;
    height: 40px;
    border-radius: 20px;
    padding: 0;
    margin: 50px auto 35px;
    font-weight: 500;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}


/*UI Checkbox*/

.ui-helper-hidden-accessible {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.ui-button {
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    text-align: center;
    margin: 0 7px;
}

.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
    text-decoration: none;
    outline: none;
}

.ui-buttonset .ui-state-default {
    min-width: 68px;
    height: 70px;
    padding: 0 14px;
    border: 1px solid #f89341;
    border-radius: 2px;
    font: 500 36px/70px 'ffdc-b';
    color: #484a4a;
    text-transform: uppercase;
}

.family_filter_steps.step_4 .ui-state-default {
    font-size: 20px;
}

.ui-buttonset .ui-state-active {
    background: #f89341;
    color: #fff;
}


/*add 17022017*/

.flat_week .bt-flt-choose-params {
    font-weight: 600;
    letter-spacing: 0.02em;
    background-image: none;
    text-align: center;
    padding: 0;
}

.flat_week .bt-flt-choose-params:before {
    background-image: none;
}

.flat_week .booked {
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    width: 270px;
    height: 50px;
    padding-left: 86px;
    border-radius: 25px;
    background: url(../img/flat_week/small_lock.svg) 54px center no-repeat #e9e9e9;
    font-weight: 600;
    font-size: 20px;
    line-height: 52px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: left;
    color: #ad2965;
}

.flat_week .note {
    font: 13px/20px 'PFDinDisplayPro';
    color: #a7a8a8;
    text-align: center;
    margin-top: 16px;
}

.call_me .successfully .name {
    margin-bottom: 10px;
    line-height: 26px;
}

.call_me .successfully .note {
    font: 15px/20px 'PFDinDisplayPro';
}

.call_me .successfully.booked {
    background: url(../img/flat_week/lock.svg) center top no-repeat;
    padding-top: 113px;
}

#flat_choice .legend .week:before {
    background: none;
    border: 2px solid #c26690;
}

#flat_choice .legend .booked:before {
    background: url(../img/flat_week/small.svg) center 7px no-repeat;
    border: 2px solid #c26690;
}

#flat_choice .section .info {
    visibility: hidden;
}

#flat_choice .section li:hover .info {
    visibility: visible;
}

#flat_choice .section li {
    overflow: visible;
}

#flat_choice .section .week:after {
    content: '';
    position: absolute;
    left: -4px;
    top: -4px;
    width: 28px;
    height: 28px;
    border: 2px solid #c26690;
}

#flat_choice .section .booked:after {
    content: '';
    position: absolute;
    left: -4px;
    top: -4px;
    width: 28px;
    height: 28px;
    background: url(../img/flat_week/small.svg) center no-repeat;
    border: 2px solid #c26690;
}


/*add 21022017*/

.flat_price .info a {
    font: 500 12px/1 'PFDinTextCondPro';
    text-transform: uppercase;
    color: #ad2965;
}


/*add 22022017*/

.flat_week {
    padding-bottom: 0;
}

.flat_week_head h5 {
    margin-bottom: 7px;
}

.flat_week_head p {
    font: 17px/24px 'PFDinDisplayPro';
    letter-spacing: 0.02em;
}

.flat_week_head .present {
    width: 290px;
    background: url(../img/flat_week/gift_doc.svg) left top no-repeat;
    padding: 9px 0 9px 97px;
    margin: 22px auto 0;
    font: bold 17px/1.2 'PFDinDisplayPro';
    color: #f79341;
    text-align: left;
    letter-spacing: 0.04em;
}

.flat_week .row {
    height: auto;
    padding: 80px 40px;
}

.flat_week .col_1,
.flat_week .col_3 {
    height: auto;
}

.flat_week .img {
    top: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.flat_week .note {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 660px;
    margin-left: -330px;
    line-height: 16px;
}

.flat_week .flat_price {
    border-bottom: none;
}

.flat_week_info {
    background: #f3f5f5;
    height: calc(100vh - 130px);
    min-height: 600px;
}

.flat_week_info_1 {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 115px;
    background: url(../img/flat_week/lock.svg) center top no-repeat;
}

.flat_week_info_1 h1 {
    font-size: 24px;
    line-height: 26px;
    color: #484a4a;
    margin-bottom: 37px;
}

.flat_week_info_2 {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 137px;
    background: url(../img/flat_week/check.svg) center top no-repeat;
}

.flat_week_info_2 h1 {
    font-size: 24px;
    line-height: 26px;
    color: #484a4a;
    margin-bottom: 9px;
}

.flat_week_info_2 h2 {
    font-weight: 500;
    font-size: 19px;
    line-height: 24px;
    color: #484a4a;
    text-transform: uppercase;
    margin-bottom: 1px;
}

.flat_week_info_2 .note {
    font: 17px/24px 'PFDinDisplayPro';
    letter-spacing: 0.02em;
    position: relative;
    padding-bottom: 33px;
    margin-bottom: 35px;
}

.flat_week_info_2 .note:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -21px;
    width: 42px;
    height: 1px;
    background: #ad2965;
    line-height: 0;
    font-size: 0;
}

.flat_week_info_2 p {
    font-size: 15px;
    line-height: 24px;
}

.flat_week_info_2 p+h2 {
    margin-top: 23px;
}

.flat_week_info .bt-flt-choose-params {
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    width: 220px;
    height: 40px;
    border-radius: 20px;
    line-height: 42px;
    font-size: 18px;
}

.flat_week_info .bt-flt-choose-params:hover {
    background: #fff;
    transition: background 1.1s ease;
}